#header-img {
    max-width: 50px;
    height: auto;
    margin-left: 20px;
}

.logo {
    float: left;
}

#nav-bar {
    float: right;
}

#nav-bar ul{
    list-style: none;
}

.nav-link {
    display: inline-block;
    margin-left: 40px;
}

.nav-link:last-child {
    margin-right: 20px;
}

.price-option {
    border: 1px solid black;
    max-width: 33%;
    display: inline-block;

}
#pricing ul {
    list-style: none;
}

.cents {
    font-size: 70%;
}